.left-panel {
    display: flex;
    flex-direction: column;
}
.content-left-header {
    display: flex;
    background-color: rgb(79,32,198);
    justify-content: flex-start;
    align-items: center;
}
.logo {
    display: flex;
    margin: 0 20px;
    color: white;
    height:110px;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.collection-details{
    background-color: rgb(39,39,39);
    height:822px;
}

.collection-types{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    margin-top: 20px;
    font-size: 20px;
    color:rgb(173,173,173);
    font-weight:bold;
}

.collection-list li {
    margin-bottom: 20px;
    color: rgb(125,125,125);
    font-size: 19px;
}

.collection-list li:hover {
    transition:all 0.3s ease-in-out;
    color: white;
    cursor: pointer;
    background-color: rgb(34, 31, 31);
    
}

.content-builder {
    display: flex;
    height:40px;
    padding-left: 20px;
    font-size: 20px;
    background-color: rgb(0,0,0);
    color: rgb(243,243,243);
    font-weight:bold;
    align-items: center;
}
